@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

.card{
  background-color: #413e3e;
  border-radius: 12px;
  height: 380px;
  margin: 30px;
}

.selection-tab{ 
    font-weight: 400;
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }

  .nav__logo:hover, .nav__link:hover{
    text-decoration: none;
  }

  .desc{
    text-align: center;
  }
  
  .info{
    padding: 20px;
    text-align: left;
  }

  .category{
    width: 15%;
    height: 10%;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .indicator{
    margin-top: 4%;
    border-bottom: 2px solid #a9db88;
    position: absolute;
    width: 15%;
    height: 2.8%;
    left: 5%;
    transition: 0.3s ease;
  }
  
  .category-active{
    color: #a9db88;
    font-weight: 900;
    transition: 0.3s ease-in-out;
  }

  .desc > .info{
    height: 80vh;   
  }

  .infotext{
    opacity: 0;
    position: absolute;
    padding-right: 4%;
  }

  .active{
    opacity: 1;
    transition: 0.5s ease;
  }

